.primaryBtn,
.gameBoard .messageBox .messageBox_content .dialogBoxBtn,
.gameOptions_actions .actionBtn {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  font-size: 1.4rem;
  background: none;
  font-family: 'Permanent Marker', cursive;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #41df90;
}
.sidebar {
  width: 20%;
  background-color: #51f542;
  display: none;
  padding: 1%;
  margin-top: 2vh;
}
.sidebar > * {
  margin-bottom: 12%;
}
.sidebar_gameOptions_title {
  color: black;
  font-size: 1.4rem;
  align-self: center;
}
.menu_burgerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu_burgerBtn_burger {
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu_burgerBtn_burger::before,
.menu_burgerBtn_burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu_burgerBtn_burger::before {
  transform: translateY(-16px);
}
.menu_burgerBtn_burger::after {
  transform: translateY(16px);
}
.menu_burgerBtn_open {
  transform: translateX(-40px);
  background: transparent;
  box-shadow: none;
}
.menu_burgerBtn_open::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu_burgerBtn_open::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.gameContainer {
  margin-left: 10%;
}
.gameBoard {
  position: relative;
}
.gameBoard #canvas {
  background-color: black;
  margin: 0 auto;
}
.gameBoard .messageBox {
  display: none;
  position: absolute;
  top: 35%;
  left: 32.5%;
  width: 40%;
  border: 3px solid #51f542;
  border-radius: 6px;
  background: black;
  font-family: 'Permanent Marker', cursive;
  z-index: 10;
}
.gameBoard .messageBox .messageBox_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.gameBoard .messageBox .messageBox_content .messageBox_content_message {
  color: white;
}
.gameBoard .messageBox .messageBox_content .messageBox_content_recordMsg {
  display: none;
  color: white;
  margin: 3%;
  text-align: center;
}
.gameBoard .messageBox .messageBox_content .dialogBoxBtn {
  border: 2px solid #51f542;
  color: #51f542;
  margin-bottom: 4%;
}
.gameBoard .messageBox .messageBox_content .dialogBoxBtn:hover {
  background: #51f542;
  color: white;
}
.gameBoard .messageBox .messageBox_content .dialogBoxBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.scoreTable {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}
.currentScore,
.bestScore {
  display: flex;
  width: fit-content;
  font-size: 1.1rem;
  padding: 0 2%;
}
.gameOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3% 0;
  padding-bottom: 3%;
  border-bottom: 2px solid black;
  font-weight: bold;
}
.gameOptions_actions {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.gameOptions_actions .actionBtn {
  margin-right: 2%;
}
.gameOptions_actions #stopBtn {
  border: 2px solid #f3690d;
  color: #f3690d;
}
.gameOptions_actions #stopBtn:hover {
  background: #f3690d;
  color: white;
}
.gameOptions_actions #stopBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.gameOptions_actions #startBtn {
  border: 2px solid green;
  color: green;
}
.gameOptions_actions #startBtn:hover {
  background: green;
  color: white;
}
.gameOptions_actions #startBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.gameOptions_actions #resetBtn {
  border: 2px solid red;
  color: red;
}
.gameOptions_actions #resetBtn:hover {
  background: red;
  color: white;
}
.gameOptions_actions #resetBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.gameOptions_size {
  display: flex;
  flex-direction: column;
}
.gameOptions_size .gameOptions_size_title {
  margin-bottom: 8%;
}
.gameOptions_size .size_check {
  display: flex;
  color: green;
}
.gameOptions_size .size_check input {
  visibility: hidden;
}
.gameOptions_size .size_check input:checked + label {
  opacity: 0.5;
}
.gameOptions_size .size_check label {
  cursor: pointer;
}
.gameOptions_size .size_check label:hover {
  transform: scale(1.2);
}
.gameOptions_size .size_check label .snake_small {
  display: flex;
}
.gameOptions_size .size_check label .snake_small .snake_small_block {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid white;
}
.gameOptions_size .size_check label .snake_big {
  display: flex;
}
.gameOptions_size .size_check label .snake_big .snake_big_block {
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid white;
}
.gameOptions_speed {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}
.gameOptions_speed .gameOptions_speed_title {
  margin-bottom: 8%;
}
.gameOptions_speed .speed_select {
  width: 100%;
  border: 2px solid green;
  border-radius: 6px;
  color: green;
  padding: 0.4rem;
  font-family: 'Permanent Marker', cursive;
  font-size: inherit;
}
.gameOptions_volume {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}
.gameOptions_volume .gameOptions_volume_title {
  margin-bottom: 8%;
}
.gameOptions_volume .gameOptions_volume_slider {
  appearance: none;
  outline: none;
  height: 20px;
}
.gameOptions_volume input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 20px;
  background: red;
}
.gameOptions_volume input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}
.gameOptions_snakeColors {
  width: 100%;
}
.gameOptions_snakeColors_options > * {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}
.gameOptions_snakeColors_options > *:hover {
  transform: scale(1.1);
}
.gameOptions_snakeColors_options > * .option_head {
  width: 20px;
  height: 20px;
}
.gameOptions_snakeColors_options #color_option1 {
  background-color: blue;
}
.gameOptions_snakeColors_options #color_option1 #color_option1_head {
  background-color: white;
}
.gameOptions_snakeColors_options #color_option2 {
  background-color: orange;
}
.gameOptions_snakeColors_options #color_option2 #color_option2_head {
  background-color: greenyellow;
}
.gameOptions_snakeColors_options #color_option3 {
  background-color: yellow;
}
.gameOptions_snakeColors_options #color_option3 #color_option3_head {
  background-color: purple;
}
