@import './variables';
@import './extends';
@import './mixins';

body {
    font-family: @generalFont;
    margin: 0;
    padding: 0;
    .containerSize(100vw, 100vh);
    display: flex;
    justify-content: center;
    background-color: @defaultPrimaryColor;
}


.gameBoard {
    position: relative;

    #canvas {
        background-color: black;
        margin: 0 auto;
        
    }

    .messageBox {
        display: none;
        position: absolute;
        .dialogBoxPosition(30, 35);
        width: 40%;
        border: 3px solid green;
        border-radius: 6px;
        background: black;
        font-family: 'Permanent Marker', cursive;
        z-index: 10;

        .messageBox_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;   
            font-size: @defaultFontSize;
            
            .messageBox_content_message {
                color: white;
            }

            .messageBox_content_recordMsg {
                display: none;
                color: white;
                margin: 3%;
                text-align: center;
            }
        

            .dialogBoxBtn {
                &:extend(.primaryBtn);
                .btn-style(green, 2px);
                margin-bottom: 4%;
            }
        }
    }
    
    
}



.scoreTable {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.currentScore,  .bestScore {
    display: flex;
    width: fit-content;
    font-size: 1.1rem;
    padding: 0 2%;
}

.gameOptions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.gameOptions_actions {
    display: flex;

    .actionBtn {
        &:extend(.primaryBtn);
        margin-right: 2%;
    }
    
    #stopBtn {
        .btn-style(rgb(243, 105, 13), 2px);
    }
    
    #startBtn {
        .btn-style(green, 2px);
    }
    
    #resetBtn {
        .btn-style(red, 2px);
    }
    
}

.gameOptions_size {
    display: flex;
    align-items: center;
    .size_check {
        display: flex;
        color: green;

        input {
            visibility: hidden;
        }

        input:checked+label {
            opacity: 0.5;
        }

        label {
            cursor: pointer;
            
            &:hover {
                transform: scale(1.2);
            }

            .snake_small {
                display: flex;
                .snake_small_block {
                    .containerSize(20px, 20px);
                    background-color: red;
                    border: 1px solid white;
                }
            }

            .snake_big {
                display: flex;
                .snake_big_block {
                    .containerSize(40px, 40px);
                    background-color: red;
                    border: 1px solid white;
                }
            }
            
        }

    }
}

.gameOptions_difficulty {
    color: green;
    font-size: @defaultFontSize;

    .difficulty_select {
        border: 2px solid green;
        border-radius: 6px;
        color: green;
        padding: 0.4rem;
        font-family: @generalFont;
        font-size: inherit;
    }
}




