.primaryBtn,
.gameBoard .messageBox .messageBox_content .dialogBoxBtn,
.gameOptions_actions .actionBtn {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  background: none;
  font-family: 'Permanent Marker', cursive;
}
body {
  font-family: 'Permanent Marker', cursive;
}
.gameContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.gameBoard {
  position: relative;
}
.gameBoard #canvas {
  background-color: black;
  margin: 0 auto;
}
.gameBoard .messageBox {
  display: none;
  position: absolute;
  top: 35%;
  left: 32.5%;
  width: 35%;
  border: 3px solid green;
  border-radius: 6px;
  background: black;
  font-family: 'Permanent Marker', cursive;
  z-index: 10;
}
.gameBoard .messageBox .messageBox_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameBoard .messageBox .messageBox_content .messageBox_content_message {
  color: white;
}
.gameBoard .messageBox .messageBox_content .messageBox_content_recordMsg {
  display: none;
  color: white;
  margin: 3%;
  text-align: center;
}
.gameBoard .messageBox .messageBox_content .dialogBoxBtn {
  border: 2px solid green;
  color: green;
  margin-bottom: 4%;
}
.gameBoard .messageBox .messageBox_content .dialogBoxBtn:hover {
  background: green;
  color: white;
}
.gameBoard .messageBox .messageBox_content .dialogBoxBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.scoreTable {
  display: flex;
  justify-content: space-between;
  width: 600px;
  background-color: green;
  color: white;
}
.currentScore,
.bestScore {
  display: flex;
  width: fit-content;
  font-size: 1.1rem;
  padding: 0 2%;
}
.gameOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
  padding-bottom: 3%;
  border-bottom: 2px solid green;
  font-weight: bold;
}
.gameOptions_actions {
  display: flex;
}
.gameOptions_actions .actionBtn {
  margin-right: 2%;
}
.gameOptions_actions #stopBtn {
  border: 2px solid orange;
  color: orange;
}
.gameOptions_actions #stopBtn:hover {
  background: orange;
  color: white;
}
.gameOptions_actions #stopBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.gameOptions_actions #startBtn {
  border: 2px solid green;
  color: green;
}
.gameOptions_actions #startBtn:hover {
  background: green;
  color: white;
}
.gameOptions_actions #startBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.gameOptions_actions #resetBtn {
  border: 2px solid red;
  color: red;
}
.gameOptions_actions #resetBtn:hover {
  background: red;
  color: white;
}
.gameOptions_actions #resetBtn:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.gameOptions_size {
  display: flex;
  align-items: center;
}
.gameOptions_size .size_check {
  display: flex;
  color: green;
}
.gameOptions_size .size_check input {
  visibility: hidden;
}
.gameOptions_size .size_check input:checked + label {
  opacity: 0.5;
}
.gameOptions_size .size_check label {
  cursor: pointer;
}
.gameOptions_size .size_check label:hover {
  transform: scale(1.2);
}
.gameOptions_size .size_check label .snake_small {
  display: flex;
}
.gameOptions_size .size_check label .snake_small .snake_small_block {
  width: 10px;
  height: 10px;
  background-color: red;
  border: 1px solid white;
}
.gameOptions_size .size_check label .snake_big {
  display: flex;
}
.gameOptions_size .size_check label .snake_big .snake_big_block {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid white;
}
.gameOptions_difficulty {
  color: green;
}
.gameOptions_difficulty .difficulty_select {
  border: 2px solid green;
  border-radius: 6px;
  color: green;
  padding: 0.4rem;
  font-family: 'Permanent Marker', cursive;
}
