@import './variables';
@import './extends';
@import './mixins';

body {
    font-family: @generalFont;
    margin: 0;
    padding: 0 0 0 1%;
    //.containerSize(100vw, 100vh);
    display: flex;
    justify-content: flex-start;
    background-color: @defaultPrimaryColor;
}

.sidebar {
    width: 20%;
    background-color: @defaultSnakeColor;    
    display: none;
    padding: 1%;
    margin-top: 2vh;
}

.sidebar_gameOptions_title {
    color: @defaultMneuColor;
    font-size: @defaultFontSize;
    align-self: center;
}
.options_menu_burgerBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vh;
    .containerSize(40px, 40px);      
    
    span {
        background-color: white;
        width: 100%;
        height: 20%;
        transition: transform 1s;                
    
        &:nth-child(2) { 
            transition: opacity 1s;
            opacity: 1;
        }
        &:nth-child(1) {
            transform: rotate(0deg);       
        }
        &:nth-child(3) {
            transform: rotate(0);
        }
    }
}
.options_menu_burgerBtn_open {
    margin-left: 1%;
}

.options_menu_burgerBtn_open span {
    transition: transform 1s;        
    transform: rotate(0deg);
    
    
    &:nth-child(2) {
        transition: opacity 1s;
        opacity: 0;
    }
    &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 14px);        
    }
    &:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -14px);
    }
}

.gameContainer {
    margin-left: 10%;
}

.gameBoard {
    position: relative;

    #canvas {
        background-color: black;
        margin: 0 auto;
        
    }

    .messageBox {
        display: none;
        position: absolute;
        .dialogBoxPosition(30, 35);
        width: 40%;
        border: 3px solid @defaultSnakeColor;
        border-radius: 6px;
        background: black;
        font-family: 'Permanent Marker', cursive;
        z-index: 10;

        .messageBox_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;   
            font-size: @defaultFontSize;
            
            .messageBox_content_message {
                color: white;
            }

            .messageBox_content_recordMsg {
                display: none;
                color: white;
                margin: 3%;
                text-align: center;
            }
        

            .dialogBoxBtn {
                &:extend(.primaryBtn);
                .btn-style(@defaultSnakeColor, 2px);
                margin-bottom: 4%;
            }
        }
    }
    
    
}

.scoreTable {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.currentScore,  .bestScore {
    display: flex;
    width: fit-content;
    font-size: 1.1rem;
    padding: 0 2%;
}

.gameOptions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3% 0;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.gameOptions_actions {
    display: flex;
    justify-content: space-between;
    width: 30%;


    .actionBtn {
        &:extend(.primaryBtn);
        margin-right: 2%;
    }
    
    #stopBtn {
        .btn-style(rgb(243, 105, 13), 2px);
    }
    
    #startBtn {
        .btn-style(green, 2px);
    }
    
    #resetBtn {
        .btn-style(red, 2px);
    }
    
}

.gameOptions_size {
    display: flex;
    flex-direction: column;
    .size_check {
        display: flex;
        color: green;

        input {
            visibility: hidden;
        }

        input:checked+label {
            opacity: 0.5;
        }

        label {
            cursor: pointer;
            
            &:hover {
                transform: scale(1.2);
            }

            .snake_small {
                display: flex;
                .snake_small_block {
                    .containerSize(20px, 20px);
                    background-color: red;
                    border: 1px solid white;
                }
            }

            .snake_big {
                display: flex;
                .snake_big_block {
                    .containerSize(40px, 40px);
                    background-color: red;
                    border: 1px solid white;
                }
            }
            
        }

    }
}

.gameOptions_speed {
    width: 100%;
    color: @defaultMneuColor;
    font-size: @defaultFontSize;
    font-weight: bold;

    .speed_select {
        width: 50%;
        border: 2px solid green;
        border-radius: 6px;
        color: green;
        padding: 0.4rem;
        font-family: @generalFont;
        font-size: inherit;
    }
}




